<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-mvpn" version="0.0.1">
	<name>CEMApp</name>
	<description>Useful plugin for developing Cordova apps using Citrix Endpoint Management's MicroVPN</description>
	<license>todo</license>
	<keywords>citrix,cem,microvpn,micro,vpn</keywords>
	<repo>todo</repo>
	<issue>todo</issue>


	<engines>
		<engine name="cordova" version=">=3.0.0"/><!--iab plugin says "need cordova/urlutil" here. ignore until broken-->
	</engines>

	<!--js modules -->
	<js-module src="www/mvpn-fetch.js" name="MvpnFetch">
		<!--call mvpnfetch by saying in js "mvpnFetch"-->
		<clobbers target="mvpnFetch"/>
	</js-module>
	<js-module src="www/ceminappbrowser.js" name="CEMInAppBrowser">
		<!--call ceminappbrowser by saying in js "mvpn.InAppBrowser.open" or "cemwindow.open"-->
		<clobbers target="mvpn.InAppBrowser.open"/>
		<clobbers target="cemwindow.open"/>
	</js-module>

	<js-module src="www/outsystems.js" name="MAMSDK">
		<!--call ceminappbrowser by saying in js "mvpn.InAppBrowser.open" or "cemwindow.open"-->
		<clobbers target="mamsdk"/>
	</js-module>

	<hook type="before_plugin_add" src="scripts/outsystems/npmInstall.js"/>

	<!--android-->
	<platform name="android">
		<!-- IMPORTANT: this is the mdx wrapper utility file for android -->
		<resource-file src="sdk/libs/android/managed-app-utility.jar" target="mdx/managed-app-utility.jar"/>

		<hook type="before_compile" src="scripts/android/android_setup_mdx.js"/>
		<!-- hook - this generates the mdx file for the user -->
		<hook type="after_compile" src="scripts/android/android_generate_mdx.js"/>
		<hook type="after_compile" src="scripts/outsystems/UploadMdx.js"/>

		<!--this stuff gets put into the app's config file-->
		<config-file target="/res/xml/config.xml" parent="/*">
			<!--need to override which webviewengine is used-->
			<preference name="webview" value="com.citrix.mvpn.cordova.webview.CEMWebViewEngine"/>
			<preference name="loadUrlTimeoutValue" value="60000" />
			<!--declare fetch plugin-->
			<feature name="MvpnFetch">
				<param name="android-package" value="com.citrix.mvpn.cordova.fetch.MvpnFetch"/>
			</feature>
			<!--declare inappbrowser plugin-->
			<feature name="CEMInAppBrowser">
				<param name="android-package" value="com.citrix.mvpn.cordova.inappbrowser.CEMInAppBrowser"/>
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<uses-library
				android:name="org.apache.http.legacy"
				android:required="false" />
		</config-file>

		<!--use dependencies.gradle instead of declaring everything here-->
		<framework src="src/android/dependencies.gradle" custom="true" type="gradleReference"/>

		<!-- use resource-file widget to get them moved to the right place; can't be done in the gradle file even though it depends on them -->
		<resource-file src="sdk/libs/android/mvpnsdk.aar" target="libs/mvpnsdk.aar"/>
		<resource-file src="sdk/libs/android/coresdk.aar" target="libs/coresdk.aar"/>
		<resource-file src="sdk/libs/android/authsdk.aar" target="libs/authsdk.aar"/>
		<resource-file src="sdk/libs/android/configsdk.aar" target="libs/configsdk.aar"/>
		<resource-file src="sdk/libs/android/loggersdk.aar" target="libs/loggersdk.aar"/>
		<resource-file src="sdk/libs/android/citrix-loggersdk.aar" target="libs/citrix-loggersdk.aar"/>
		<resource-file src="sdk/libs/android/cryptoapi.aar" target="libs/cryptoapi.aar"/>
		<resource-file src="sdk/libs/android/securestorage.aar" target="libs/securestorage.aar"/>
		<resource-file src="sdk/libs/android/worxsdk.aar" target="libs/worxsdk.aar"/>
		<resource-file src="sdk/libs/android/googleanalyticssdk.aar" target="libs/googleanalyticssdk.aar"/>

		<!--WebViewOwnership stuff-->
		<source-file src="src/android/com/citrix/mvpn/cordova/webviewowner/MvpnWebViewOwner.java" target-dir="src/com/citrix/mvpn/cordova/webviewowner/"/>
		<source-file src="src/android/com/citrix/mvpn/cordova/webviewowner/MvpnWebViewOwnerImpl.java" target-dir="src/com/citrix/mvpn/cordova/webviewowner/"/>
		<source-file src="src/android/com/citrix/mvpn/cordova/webviewowner/OwnedMvpnWebView.java" target-dir="src/com/citrix/mvpn/cordova/webviewowner/"/>

		<!--used for all webview-based cem classes-->
		<source-file src="src/android/com/citrix/mvpn/cordova/webviewrequests/LoadUrl.java" target-dir="src/com/citrix/mvpn/cordova/webviewrequests/"/>
		<source-file src="src/android/com/citrix/mvpn/cordova/webviewrequests/PostUrl.java" target-dir="src/com/citrix/mvpn/cordova/webviewrequests/"/>
		<source-file src="src/android/com/citrix/mvpn/cordova/webviewrequests/LoadData.java" target-dir="src/com/citrix/mvpn/cordova/webviewrequests/"/>
		<source-file src="src/android/com/citrix/mvpn/cordova/webviewrequests/WebViewRequest.java" target-dir="src/com/citrix/mvpn/cordova/webviewrequests/"/>

		<!--webview source-->
		<source-file src="src/android/com/citrix/mvpn/cordova/webview/CEMWebView.java" target-dir="src/com/citrix/mvpn/cordova/webview/"/>
		<source-file src="src/android/com/citrix/mvpn/cordova/webview/CEMWebViewEngine.java" target-dir="src/com/citrix/mvpn/cordova/webview/"/>

		<!--inappbrowser source-->
		<source-file src="src/android/com/citrix/mvpn/cordova/inappbrowser/ManagedWebView.java" target-dir="src/com/citrix/mvpn/cordova/inappbrowser/"/>
		<source-file src="src/android/com/citrix/mvpn/cordova/inappbrowser/CEMInAppBrowser.java" target-dir="src/com/citrix/mvpn/cordova/inappbrowser/"/>
		<source-file src="src/android/org/apache/cordova/inappbrowser/InAppBrowser.java" target-dir="src/org/apache/cordova/inappbrowser/"/>
		<source-file src="src/android/org/apache/cordova/inappbrowser/InAppBrowserDialog.java" target-dir="src/org/apache/cordova/inappbrowser/"/>
		<source-file src="src/android/org/apache/cordova/inappbrowser/InAppChromeClient.java" target-dir="src/org/apache/cordova/inappbrowser/"/>
		<!--inappbrowser resources-->
		<resource-file src="src/android/res/drawable-mdpi/ic_action_remove.png" target="res/drawable-mdpi/ic_action_remove.png"/>
		<resource-file src="src/android/res/drawable-mdpi/ic_action_next_item.png" target="res/drawable-mdpi/ic_action_next_item.png"/>
		<resource-file src="src/android/res/drawable-mdpi/ic_action_previous_item.png" target="res/drawable-mdpi/ic_action_previous_item.png"/>
		<resource-file src="src/android/res/drawable-hdpi/ic_action_remove.png" target="res/drawable-hdpi/ic_action_remove.png"/>
		<resource-file src="src/android/res/drawable-hdpi/ic_action_next_item.png" target="res/drawable-hdpi/ic_action_next_item.png"/>
		<resource-file src="src/android/res/drawable-hdpi/ic_action_previous_item.png" target="res/drawable-hdpi/ic_action_previous_item.png"/>
		<resource-file src="src/android/res/drawable-xhdpi/ic_action_remove.png" target="res/drawable-xhdpi/ic_action_remove.png"/>
		<resource-file src="src/android/res/drawable-xhdpi/ic_action_next_item.png" target="res/drawable-xhdpi/ic_action_next_item.png"/>
		<resource-file src="src/android/res/drawable-xhdpi/ic_action_previous_item.png" target="res/drawable-xhdpi/ic_action_previous_item.png"/>
		<resource-file src="src/android/res/drawable-xxhdpi/ic_action_remove.png" target="res/drawable-xxhdpi/ic_action_remove.png"/>
		<resource-file src="src/android/res/drawable-xxhdpi/ic_action_next_item.png" target="res/drawable-xxhdpi/ic_action_next_item.png"/>
		<resource-file src="src/android/res/drawable-xxhdpi/ic_action_previous_item.png" target="res/drawable-xxhdpi/ic_action_previous_item.png"/>

		<!--fetch source-->
		<source-file src="src/android/com/citrix/mvpn/cordova/fetch/ApiException.java" target-dir="src/com/citrix/mvpn/cordova/fetch/"/>
		<source-file src="src/android/com/citrix/mvpn/cordova/fetch/HttpHandler.java" target-dir="src/com/citrix/mvpn/cordova/fetch/"/>
		<source-file src="src/android/com/citrix/mvpn/cordova/fetch/HttpHeaders.java" target-dir="src/com/citrix/mvpn/cordova/fetch/"/>
		<source-file src="src/android/com/citrix/mvpn/cordova/fetch/HttpParams.java" target-dir="src/com/citrix/mvpn/cordova/fetch/"/>
		<source-file src="src/android/com/citrix/mvpn/cordova/fetch/MvpnFetch.java" target-dir="src/com/citrix/mvpn/cordova/fetch/"/>
		<source-file src="src/android/com/citrix/mvpn/cordova/fetch/MvpnFetchHelper.java" target-dir="src/com/citrix/mvpn/cordova/fetch/"/>
		<source-file src="src/android/com/citrix/mvpn/cordova/fetch/OkHttpHandler.java" target-dir="src/com/citrix/mvpn/cordova/fetch/"/>
	</platform>

	<!-- iOS -->
	<platform name="ios">

		<hook></hook>
		<!--this stuff gets put into the app's config file-->
		<config-file target="/res/xml/config.xml" parent="/*">
			<!--need to override which webviewengine is used>
			<preference name="webview" value="com.citrix.mvpn.cordova.webview.CEMWebViewEngine"/>
			<preference name="loadUrlTimeoutValue" value="60000" /-->
			<!--declare fetch plugin-->
			<feature name="MvpnFetch">
				<param name="ios-package" value="MvpnFetch"/>
                <param name="onload" value="true" />
			</feature>
			<!--declare inappbrowser plugin-->
			<feature name="CEMInAppBrowser">
				<param name="ios-package" value="CEMInAppBrowser"/>
                <param name="onload" value="true" />
			</feature>
		</config-file>

		<preference name="BUNDLEID"/>
		<preference name="PACKAGEID"/>
		<preference name="URLSCHEME"/>
		<preference name="TEAMID"/>
		<preference name="STOREURL"/>

		<hook type="after_plugin_install" src="scripts/ios/addBuildPhase.js"/>
		
		<hook type="after_plugin_add" src="scripts/ios/copyTools.js"/>

		<hook type="after_platform_add" src="scripts/ios/addBuildPhase.js"/>

		<hook type="after_plugin_install" src="scripts/ios/changeBuildSettings.js"/>

		<hook type="after_compile" src="scripts/outsystems/UploadMdx.js"/>
		
		<config-file target="*-Info.plist" parent="CFBundleURLTypes">
			<array>
				<dict>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>CFBundleURLName</key>
					<string>$BUNDLEID</string><!-- bundleid-->
					<key>CFBundleURLSchemes</key>
					<array>
						<string>$URLSCHEME</string><!-- com.citrix.sso.packageId-->
					</array>
				</dict>
			</array>
		</config-file>
		<config-file target="*-Debug.plist" parent="keychain-access-groups">
			<array>
				<string>$(AppIdentifierPrefix)$BUNDLEID</string>
				<string>$(AppIdentifierPrefix)com.citrix.mdx</string>
			</array>
		</config-file>

		<config-file target="*-Release.plist" parent="keychain-access-groups">
			<array>
				<string>$(AppIdentifierPrefix)$BUNDLEID</string>
				<string>$(AppIdentifierPrefix)com.citrix.mdx</string>
			</array>
		</config-file>

		
		<framework src="sdk/libs/ios/CitrixLogger.framework" embed="true" custom="true"/>
		<framework src="sdk/libs/ios/CTXMAMAppCore.framework" embed="true" custom="true"/>
		<framework src="sdk/libs/ios/CTXMAMCompliance.framework" embed="true" custom="true"/>
		<framework src="sdk/libs/ios/CTXMAMContainment.framework" embed="true" custom="true"/>
		<framework src="sdk/libs/ios/CTXMAMCore.framework" embed="true" custom="true"/>
		<framework src="sdk/libs/ios/CTXMAMNetwork.framework" embed="true" custom="true"/>
		<framework src="sdk/libs/ios/CTXMAMLocalAuth.framework" embed="true" custom="true"/>
		
		<source-file src="sdk/libs/ios/CitrixLogger.framework" target-dir="lib" framework="true"/>
		<source-file src="sdk/libs/ios/CTXMAMAppCore.framework" target-dir="lib" framework="true"/>
		<source-file src="sdk/libs/ios/CTXMAMCompliance.framework" target-dir="lib" framework="true"/>
		<source-file src="sdk/libs/ios/CTXMAMContainment.framework" target-dir="lib" framework="true"/>
		<source-file src="sdk/libs/ios/CTXMAMCore.framework" target-dir="lib" framework="true"/>
		<source-file src="sdk/libs/ios/CTXMAMNetwork.framework" target-dir="lib" framework="true"/>

		<header-file src="src/ios/AppDelegate+mvpn.h"/>
		<source-file src="src/ios/AppDelegate+mvpn.m"/>

	</platform>
</plugin>
