<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mvpn" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
	<name>MAMCoreSDKPlugin</name>
	<description>Cordova Plugin for Integerating Apps with Citrix MAMCoreSDK</description>
	<license>https://developer.cloud.com/citrix-api-terms-of-use</license>
	<keywords>citrix,cem,core sdk,mam,mamcore</keywords>
	<repo>git</repo>

	<js-module name="CtxMAMCoreBridge" src="www/CtxMAMCoreBridge.js">
		<clobbers target="cordova.plugins.citrix.core" />
	</js-module>

	<js-module name="CtxMAMContainmentBridge" src="www/CtxMAMContainmentBridge.js">
        <clobbers target="cordova.plugins.citrix.containment" />
    </js-module>

	<js-module name="CtxMAMComplianceBridge" src="www/CtxMAMComplianceBridge.js">
        <clobbers target="cordova.plugins.citrix.compliance"/>
    </js-module>

	<js-module name="CtxMAMLocalAuthBridge" src="www/CtxMAMLocalAuthBridge.js">
        <clobbers target="cordova.plugins.citrix.localauth" />
    </js-module>
	<platform name="ios">
        
		
		<hook type="before_plugin_install" src="scripts/outsystems/npmInstall.js"/>

        <!-- Add display name to package.json since its not defined in Outsystems -->
		<hook type="after_plugin_install" src="scripts/outsystems/AddDisplayName.js"/>
		<hook type="after_plugin_install" src="scripts/outsystems/copyTools.js"/>
		<hook type="after_plugin_install" src="scripts/outsystems/addBuildPhase.js"/>

        <!-- if the platform is added after the plugin is installed -->
        
		<hook type="after_platform_add" src="scripts/outsystems/CreateConfigurationJsons.js"/>
		<hook type="after_platform_add" src="scripts/ios/ios_setup_mdx.js"/>	
        <hook type="after_platform_add" src="scripts/ios/ios_add_entitlements.js"/>
		<hook type="after_platform_add" src="scripts/ios/ios_enable_keychain_sharing.js"/>
		<hook type="after_platform_add" src="scripts/ios/ios_set_url_scheme.js"/>
		<hook type="after_platform_add" src="scripts/outsystems/CopyEntitlements.js"/>

        <!-- if the plugin is installed after the platform is added -->
		<hook type="after_plugin_add" src="scripts/outsystems/CreateConfigurationJsons.js"/>
		<hook type="after_plugin_add" src="scripts/ios/ios_setup_mdx.js"/>
        <hook type="after_plugin_add" src="scripts/ios/ios_add_entitlements.js"/>
		<hook type="after_plugin_add" src="scripts/ios/ios_enable_keychain_sharing.js"/>
		<hook type="after_plugin_add" src="scripts/ios/ios_set_url_scheme.js"/>
		<hook type="after_plugin_add" src="scripts/outsystems/CopyEntitlements.js"/>

        <!-- hooks - these are run before compiling, to make sure everything is in check -->
		<hook type="before_compile" src="scripts/outsystems/CreateConfigurationJsons.js"/>
		<hook type="before_compile" src="scripts/ios/ios_setup_mdx.js"/>
        <hook type="before_compile" src="scripts/ios/ios_add_entitlements.js"/>
		<hook type="before_compile" src="scripts/ios/ios_enable_keychain_sharing.js"/>
		<hook type="before_compile" src="scripts/ios/ios_set_url_scheme.js"/>
		<hook type="before_compile" src="scripts/outsystems/CopyEntitlements.js"/>

		<!-- hook - this generates the mdx file for the user -->
		<!--hook type="after_build" src="scripts/ios/ios_generate_mdx.js"/-->
		<!-- hook - this uploads the mdx file to a remote server defined in the WEBSERVICEURL variable -->
		<hook type="after_build" src="scripts/outsystems/UploadMdx.js"/>

        
		<config-file parent="/*" target="config.xml">
			<feature name="CtxMAMCoreBridge">
				<param name="ios-package" value="CtxMAMCoreBridge" />
				<param name="onload" value="true"/>
			</feature>
		</config-file>

		<config-file parent="/*" target="config.xml">
            <feature name="CtxMAMContainmentBridge">
                <param name="ios-package" value="CtxMAMContainmentBridge" />
            </feature>
        </config-file>

		<config-file parent="/*" target="config.xml">
            <feature name="CtxMAMComplianceBridge">
                <param name="ios-package" value="CtxMAMComplianceBridge"/>
            </feature>
        </config-file>

        <config-file parent="/*" target="config.xml">
            <feature name="CtxMAMLocalAuthBridge">
                <param name="ios-package" value="CtxMAMLocalAuthBridge" />
            </feature>
        </config-file>

		<!--sdk dependencies-->
        <framework src="src/ios/frameworks/CTXMAMCore.xcframework" custom="true" embed="true" />
        <framework src="src/ios/frameworks/CTXMAMAppCore.xcframework" custom="true" embed="true" />
        <framework src="src/ios/frameworks/CitrixLogger.xcframework" custom="true" embed="true" />
		<framework src="src/ios/frameworks/CTXMAMContainment.xcframework" custom="true" embed="true"/>
		<framework src="src/ios/frameworks/CTXMAMCompliance.xcframework" custom="true" embed="true"/>
        <framework src="src/ios/frameworks/CTXMAMNetwork.xcframework" custom="true" embed="true"/>	
        <framework src="src/ios/frameworks/CTXMAMLocalAuth.xcframework" custom="true" embed="true"/>
		

		<!-- this adds the dependencies to link Binary -->
		<source-file src="src/ios/frameworks/CitrixLogger.xcframework" target-dir="lib" framework="true"/>
		<source-file src="src/ios/frameworks/CTXMAMAppCore.xcframework" target-dir="lib" framework="true"/>
		<source-file src="src/ios/frameworks/CTXMAMCore.xcframework" target-dir="lib" framework="true"/>
		<source-file src="src/ios/frameworks/CTXMAMContainment.xcframework" target-dir="lib" framework="true"/>
		<source-file src="src/ios/frameworks/CTXMAMCompliance.xcframework" target-dir="lib" framework="true"/>
		<source-file src="src/ios/frameworks/CTXMAMNetwork.xcframework" target-dir="lib" framework="true"/>	
		<source-file src="src/ios/frameworks/CTXMAMLocalAuth.xcframework" target-dir="lib" framework="true"/>
        
        <!--Apple dependencies-->
        <framework src="Foundation.framework" />
        <framework src="UIKit.framework" />
        <framework src="WebKit.framework" />

		<!--Header and Sources files-->
		<header-file src="src/ios/CtxMAMCoreBridge.h" />
		<source-file src="src/ios/CtxMAMCoreBridge.m" />
        <header-file src="src/ios/MAMCoreSDK.h" />
		<source-file src="src/ios/MAMCoreSDK.m" />

        <source-file src="src/ios/CtxMAMContainmentBridge.h" />
        <source-file src="src/ios/CtxMAMContainmentBridge.m" />
        <source-file src="src/ios/MAMContainmentSDK.h" />
        <source-file src="src/ios/MAMContainmentSDK.m" />

        <header-file src="src/ios/CtxMAMComplianceBridge.h"/>
        <source-file src="src/ios/CtxMAMComplianceBridge.m"/>
        <header-file src="src/ios/ComplianceSDK.h"/>
        <source-file src="src/ios/ComplianceSDK.m"/>

        <source-file src="src/ios/CtxMAMLocalAuthBridge.h" />
        <source-file src="src/ios/CtxMAMLocalAuthBridge.m" />
        <source-file src="src/ios/MAMLocalAuthSDK.h" />
        <source-file src="src/ios/MAMLocalAuthSDK.m" />

	</platform>
</plugin>
